
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bulls and Cows Server</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="btn-play-single" href="#/single-game" data-navigo>Play Single Game</a></li>
                <li><a id="btn-play-single-bot" href="#/single-bot" data-navigo>Play Bot Game</a></li>
                <li><a id="btn-play-double" href="#/double-game" data-navigo>Play Double Game</a></li>
                <li><a id="btn-play-double-bot" href="#/double-bot" data-navigo>Play Double Bot Game</a></li>
            </ul>

            <!--<ul class="nav navbar-nav navbar-righ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="POST">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">User</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Pass</span>
                                    <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                                </div>
                                <button type="submit" class="btn btn-success">Login</button></form>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="POST">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">User</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Pass</span>
                                    <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                                </div>
                                <button type="submit" class="btn btn-success">Register</button>
                            </form>
                        </li>
                    </ul>
                </li>

            </ul>-->
        </div>
    </div>