<div class="col-md-6">
    <div id="panel-results" class="panel panel-default">
        <div class="panel-heading">Results</div>
        {{!--<div class="panel-body">
            <p>Thses are the results of your guesses. Cows are digits that are present in the number you have to guess, but not in the right place. Bull are digits that are in the right place.</p>
        </div>--}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Bulls</th>
                    <th>Cows</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>