<div class="jumbotron row">
    <div id="prev-nums" class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Bulls</th>
                    <th>Cows</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <form action="">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="basic-addon1">Enter your guess</span>

                <input type="text" class="form-control">

                <span class="input-group-btn">
                <button id="btn-make-guess" class="btn btn-primary" type="button">Go!</button>
            </span>
            </div>
        </form>

        
        <button id="btn-start-single-game" class="btn btn-primary" type="button">Start New Game</button>
    </div>
</div>